@import "../../assets/scss/variables";
header {
  padding: 15px 20px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $text-white-color;
  svg {width: 26px; height: auto; fill: $text-white-color; &:hover{fill:#fff; cursor: pointer;}}
  #close-sign {display: none;}
  h1 {&:hover{color:#fff; cursor: pointer;}}
}