@import "variables";
form {
  flex-direction: column;
  background-color: rgba(238, 238, 238, .15);
  padding: 20px 20px;
  & input:nth-child(1) {margin-top: 0;}
  input {margin-top: 10px;}
  .buttons {margin-top: 10px; justify-content: space-between;}
  .svg-text {
    margin-top: 10px;
    svg {height: 21px; width: auto;}
    .text {margin-left: 5px; font-family: $text-light-font; a{color:#eee;}}
  }
  .valid-error {
    margin-top: 10px;
    align-items: center;
    svg {height: 21px; width: auto; fill:#5c0631;}
    .text {margin-left: 8px; font-family: $text-light-font; a{color:#eee;}}
  }
}