$logo-font: Tamburin;
$text-font: Roboto-Regular;
$text-light-font: Roboto-Light;
$text-white-color: #eee;
$text-dark-color: #1c1c1c;
$text-size: 14px;

$overlay-background-color: #000000;
$overlay-background-opacity: .8;

//$pink-accent: #5c0631;
$pink-accent: darken(#354e07, 3%);
