.sign {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8rem;
  width: 100%;
  height: 100%;
}

app-form-sign-in {margin-right: 20px;}
app-form-sign-up {margin-left: 20px;}
