input {
  background-color: rgba(238,238,238,0.8);
}

div {
  grid-template-columns: 1fr;
  & div:nth-child(1) {  margin-top: 0;}
  div {
    padding: 10px 20px;
    background-color: rgba(238,238,238,0.45);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    margin-top: 15px;
    .change-password-mt {
      margin-top: 10px;
    }
  }
}
