<form class="grid">
    <div>
        <input class="inp" type="text" placeholder="Khoma">
        <button class="btn">Змінити логін</button>
    </div>
    <div>
        <input class="inp" type="text" placeholder="Новий пароль">
        <input class="inp" type="text" placeholder="Підтвердити пароль">
        <input class="inp change-password-mt" type="text" placeholder="Старий пароль">
        <button class="btn change-password-mt">Змінити пароль</button>
    </div>

<div>
    <input class="inp" type="text" placeholder="khoma@gmail.com">
    <button class="btn">Змінити email</button>
</div>
<div>
    <input class="inp" type="text" placeholder="093 13 19 996">
    <button class="btn">Змінити номер</button>
</div>

</form>